header {
  border-top: 4px solid #0275D8;
  text-align: center;
  h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 57px;
  }
  h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
  }
}